* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: cadetblue;
  transition: all 0.5s ease-in-out;
}

.container {
  width: 375px;
  height: 95vh;
  background-color: black;
  color: aqua;
  border-radius: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
  grid-gap: 1rem;
  padding: 1.25rem;
 
}


/*  Bmi Heading and Reset Button */
.container .heading{
  display: flex;
  justify-content: space-between;
  line-height: 2rem;
}

.heading .resetbtn {
  display: block;
  background-color: rgb(45, 240, 240);
  color: black;
  padding: 4px 16px;
  border: 1px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 8px;
  height: 24px;
}


/* Gender Toggle Button */
.gender h3{
  font-size: 15px;
}

.select-gender {
  padding: 10px;
  padding-bottom: 20px;
  display: flex;
  border-bottom: 1px solid cadetblue;
}

.select-gender input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.select-gender label {
  display: inline-block;
  background-color: rgba(179, 179, 179, 0.267);
  padding: 10px 20px;
  font-size: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.select-gender input[type="radio"]:checked + label {
  background-color: rgb(0, 247, 255);
  color: black;
}

.select-gender input[type="radio"]:focus + label {
  background-color: aqua;
}


/* Age manu */
.age {
  border-bottom: 1px solid cadetblue;
}

input[type="tel"] {
  width: 55px;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
  background-color: transparent;
  text-align: start;
  border: none;
  outline: none;
  margin: 10px 0px;
}

.label-text {
  font-size: 15px;
}

/* Height and Weight */
.hnadw {
  display: flex;
  column-gap: 55px;
}

.hnadw .input {
  width: 85px;
}


form .calculate {
  background-color: aquamarine;
  color: black;
  padding: 6px 50px;
  border-radius: 17px;
  font-size: 17px;
  text-align: center;
  display: block;
  height: 35px;
  margin: 5px auto;
  cursor: pointer;


}

.modal-background {
  background-color: rgba(0, 0, 0, 0.61);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -500;
  opacity: 0;
}

.modal-background.active {
  z-index: 25;
  opacity: 1;
}

.modal {
  width: 375px;
  height: 95vh;
  border-radius: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: aqua;
  border: 4px solid rgb(255, 249, 249);
  border-radius: 15px;
  padding: 10px 10px;
  z-index: -500;
  opacity: 0;
}

.modal.active {
  z-index: 25;
  opacity: 1;
}

.modal-item {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
}

.modal-item h2 {
  text-align: center;
}

#bmioutput {
  font-size: 40px;
  padding: 0 18px 0 0;
}

#bmi-comment {
  padding: 20px 0 0 0;
}

.modal p {
  text-align: center;
  font-size: 30px;
}

.modal-item .calculate {
  background-color: aquamarine;
  color: black;
  padding: 6px 50px;
  border-radius: 17px;
  font-size: 17px;
  text-align: center;
  display: block;
  margin: 5px auto;
  margin-top: 45px;
  cursor: pointer;
}




